
/*
pruple=#2E1A4B
gren=093D20
gold=FFB71D
*/


/*
thinking about it, does the teacher use BetterDiscord for changing how his UI looks?
*/

p {
	background-color: #2E1A4B;
	color:#FFB71D;
	font-weight: 350;
}

body {
	background-color: #093D20;
}


.myDivider {
	background-color: #093D20;
	border: 5px outset #FFB71D;
	text-align: center;
}

.IncitingText {
	background-color: #2E1A4B;
	color:#FFB71D;
	font-weight: 350;
}

a:link, a:visited {
	background-color: #2E1A4B;
	color:#FFB71D;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: #2E1A4B;
}




.bigheading {
	background-color: #2E1A4B;
	color: #FFB71D;
	margin: auto;
	/*	Just added this, might need to remove, it got really laggy after implementing
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	*/
	}

.smallerheading {
	size:24px;
	background-color: #2E1A4B;
	color: #FFB71D;
	
}

.listeditems {
	background-color: #2E1A4B;
	color: #FFB71D;
	
}